.dropdownbox {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #337ab7 !important;
    border: 1px solid #1f364a !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.container{
    width:2000px;
    margin-top: 50px;
    margin-bottom: 30px;

}

.container_box{
    width:800px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #337ab7;
    margin-right: auto;
    margin-left: auto;
}

#title {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.outer {
    position:relative;
}
.sandbox {
    /* position: relative; */
    width:2000px;
    height: 300px;
    border: solid 2px #eee;
    border-radius: 4px;
    background-color: #eee;
    }

.sandbox canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    }

.sandbox1 {
     position: relative;
    width: 1000px;
    height: 300px;
    border: solid 2px #eee;
    border-radius: 4px;
    background-color: #eee;
    }

